*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


img{
    max-width: 100%;
    max-height: 80%;
}

div{
    position: relative;
    border-style: solid;
    gap: 15px;
    width: 250px;
    height: 350px;
}

h1{
    text-align: center;
}

h2{
    margin-top: 15px;
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

.cont{
    position: absolute;
    top: 0;
    right: 5px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin-top: 2rem;
}
